<div class="form-group" style="margin-top:20px;">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Pedidos", "../Pedidos/Index", new { }, new { @class = "btn btn-default" })
    </div>
</div>
<div class="form-group" style="margin-top:20px;">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Pedidos com Deuda", "../Pedidos/IndexDeuda", new { }, new { @class = "btn btn-default" })
    </div>
</div>

<div class="form-group" style="margin-top:20px;">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Adicionar Pedido", "../Pedidos/Create", new { }, new { @class = "btn btn-default" })
    </div>
</div>
